<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Folgende Änderungen am Vertretungsplan gibt es:</h1>
<p>Test</p>
<% @changes.each do |change| %>
  <p><%= change.hours %></p>
  <p><%= change.description %></p>
  <p><%= change.room %></p>
<% end %>
</body>
</html>